build-Bingomonium-Desktop-Debug
build-Bingomonium-Desktop-Release
build-Bingomonium-Desktop-Profile
build-Bingomonium-Qt5-Debug
build-Bingomonium-Qt5-Release
build-Bingomonium-Qt5-Profile
build-Bingomonium-Desktop_Qt_6_3_1_MinGW_64_bit-Debug
build-Bingomonium-Desktop_Qt_6_3_1_MinGW_64_bit-Release
build-Bingomonium-Desktop_Qt_6_3_1_MinGW_64_bit-Profile
Project/Bingomonium.pro.user
*.user
